.App {
  text-align: center;
}


.square {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
.grid-board {
  display: flex;
  align-self: flex-start;
}

#grille {
  width: 40%;
  margin: auto;
}

.input {
  margin-bottom: 2%;
} 

.image {
height: 10vh;
}